* {
    font-family: Tahoma, Geneva, sans-serif;
    box-sizing: border-box;
}

label { 
    display: inline-block;
}

.inputbox {
    text-align: center;
    vertical-align: 30px;
}

.points {
    vertical-align: 30px;
    font-weight: bold;
    font-size: 80%;
}

.panel {
    border-bottom: 10px;
    border-bottom-width: 20px;
    border-color: black;
}

.players{
    float: left;
    width: 50%;
}

.gameplay{
    float: right;
    width: 50%;
    padding-left: 20px;
}



.start_button,
.deal_button,
.play_button {
    transition-duration: .5s;
    background-color: #96e4f1;
    color: black;
    font-size: large;
    height:40px;
    width: 80%;
    margin-top: 20px;
    font-stretch: expanded;
    align-items: center;
    justify-content: center;
}

.column {
    float: left;
    border-left: red;
    border-right: red;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 0px;
    border-collapse: collapse;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    column-count: 3;
}

.submit_bid_button {
    transition-duration: .2s;
    vertical-align: 30px;
}

.submitted_bid {
    background-color: green;
    color: white;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    animation: shake 0s;
}

.header {
    font-family: monospace;
    background-color: rgb(229, 229, 235);
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
}

.game_header {
    font-family: monospace;
    background-color: rgb(229, 229, 235);
    padding: 10px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.playername {
    width: 180px;
    vertical-align: 30px;
    margin-left: 10px;
}

.hand_winner {
    vertical-align: 30px;
}

.cards {
    height: 80px;
    padding: 2px;
}

.cards_played {
    height: 60px;
    padding: 2px;
    opacity: .5;
}

.cards:hover {
    transition-duration: .5s;
    height:65px;
}

.bid {
    width:70px;
    margin-right: 10px;
}

.bids_needed {
    background-color: red;
    color: white;
    animation: shake 10s infinite;
}

.played_cards {
    height: 150px;
    padding: 2px;
}

.up_first {
    font-weight: bold;
}

.up_next {
    border-style: dotted;
    border-width: 2px;
    border-color: rgb(161, 52, 9);
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  